body {
    padding: 1vw;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 8vw;
  }

  .windows {
    font-family: 'VT323', monospace;
    color: #0000FF;
    text-decoration: underline;
  }

  a {
    font-size: 10vw;
  }
