@font-face {
  font-family: "Windows Regular";
  src: url("fonts/windows-regular.woff"), url("fonts/windows-regular.ttf");
}

body {
  padding: 1vw;
}

body.contact {
  background-color: #fcbce1;
  background-image: url("img/contact-bg.png");
  background-size: 1920px;
  background-repeat: no-repeat;
}

div.windows {
  display: table;
  margin-top: 10vw;
  padding: 0.3vw;
}
div.windows-title {
  background-color: #010080;
  margin: -3px;
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
}

a.windows,
div.windows,
span.windows {
  font-family: "Windows Regular";
  color: black;
  font-size: 36px;
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 3px;
  border-left-color: white;
  border-bottom-color: black;
  border-top-color: white;
  border-right-color: black;
}

a.windows:active {
  border-left-color: black;
  border-bottom-color: white;
  border-top-color: black;
  border-right-color: white;
}

span.windows {
  float: right;
  font-size: 1px;
  padding: 6px;
  margin: 6px;
}

a.windows {
  padding: 0 40px;
}

.windows-title {
  font-family: "Windows Regular";
  color: white;
  font-weight: bold;
  margin-left: 9px;
}

.windows:hover {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}

p.windows {
  padding: 0;
  margin: 20px;
}

a:link {
  text-decoration: none;
}
