@font-face {
  font-family: "Sono";
  src: url("fonts/Sono-VariableFont_MONO,wght.ttf");
}

@font-face {
  font-family: "Windows Regular";
  src: url("fonts/windows-regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0
}

body {
  background-color: #696969;
  font-family: 'Sono', sans-serif;
}

html {
  word-spacing: -3px;
}

div.windows {
  display: table;
  padding-top: 100px;
  padding: 3px;

  margin: auto;
}

div.windows-title {
  background-color: #010080;
  margin: -3px;
}

a.windows,
div.windows,
span.windows {
  font-family: "Windows Regular";
  color: black;
  font-size: 36px;
  background-color: #c0c0c0;
  border-style: solid;
  border-width: 3px;
  border-left-color: white;
  border-bottom-color: black;
  border-top-color: white;
  border-right-color: black;
}

a.windows:active {
  border-left-color: black;
  border-bottom-color: white;
  border-top-color: black;
  border-right-color: white;
}

span.windows {
  float: right;
  font-size: 1px;
  padding: 6px;
  margin: 6px;
}

a.windows {
  padding: 0 40px;
}

p.windows-title {
  font-family: "Windows Regular";
  color: white;
  font-weight: bold;
  margin: 0;
  margin-left: 9px;
}

.windows:hover {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}

p.windows {
  padding: 0;
  margin: 20px;
}

a:link.windows {
  text-decoration: none;
}


#logo img {
  position: fixed;
  width: 50px;
  left: 40px;
  top: 40px;
  padding: 0;
  transition: transform .2s linear;
}

#logo img:hover {
  transform: scale(1.3) rotate(360deg);
}